.App-Main {
  background-color: #d1d1d1;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;

  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(../public/logo\ dnd.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.Logo {
  position: static;
  margin-top: 15px;
  top: 1em;
  left: 1em;
  height: 50px;
  width: 50px;
  background-image: url(../public/TriangularOrnament6.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}

.Logo:hover {
  transform: rotate(360deg);
}

.Nav-Bar-Container {
  background-color: #88afff;
  display: flex;
  flex-flow: row wrap;
  color: white;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  box-shadow: -2px 10px 8px #888888;
}

.Nav-Bar-Container a {
  text-decoration: none;
  display: block;
  color: white;
  background: none;
  border: none;
  border-style: none;
  background-color: #88afff;
  padding: 10px;
  margin:  1em;
  border: #ffffff solid 1px;
  text-align: center;
  box-shadow: -2px 3px 8px #ffffff;
  width: 5em;
  border-radius: 10px;
}

.Nav-Bar-Container a:hover {
  background-color: #3f7cf4;
  box-shadow: -2px 3px 8px #ff4141;
  border: #ff4141 solid 1px;
}

.Nav-Bar-Container input {
  text-decoration: none;
  color: white;
  background-color: #88afff;
  padding: 10px;
  margin:  20px;
  border: #ffffff solid 1px;
  border-radius: 25px;
  box-shadow: -2px 3px 8px #ffffff;
  width: 5em;
}

.Nav-Bar-Container input:hover {
  background-color: #3f7cf4;
  box-shadow: -2px 3px 8px #ff4141;
  border: #ff4141 solid 1px;
}

@media all and (max-width: 600px) {
  .Nav-Bar-Container {
    flex-flow: column wrap;
    padding: 0;
  }
  .Logo{
  display: none;
  }
  .Nav-Bar-Container li {
    text-align: -webkit-center; 
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .Nav-Bar-Container li:last-of-type a {
    border-bottom: none;
  }
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.label-text {
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: #000000 1px 1px 2px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 15px;
  width: 40px;
  border-radius: 15px;
  border: 1px solid #000000;
  overflow: hidden;
  box-shadow:
    
    2px 2px 2px 0.5px #152A38 inset,
    2px 2px 2px 0.5px #152A38 inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #ffffff;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    2px 2px 2px 0px #152A38,
    2px 2px 2px 0px #152A38;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.Container-Footer {
  position: relative;
  color: darkgray;
  height: 25px;
}







.Home, .About, .User, .Room {
  min-height: 83vh;
}

.Container-Login-Form {
  background-color: #89d45a;
  min-height: 40vh;
  display: inline-block;
  min-width: 300px;
  justify-content: center;
  color: white;
  border-radius: 15px;
  border: 3px solid #000000;
  margin-top: 1%;
  box-shadow:
    2px 2px 2px 0px #000000,
    2px 2px 2px 0px #000000;
}

